.listItemWrap{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #282c34;
  background-color: #05add9;
}

.nameEmp{
  width: 50%;
  font-weight: bold;
}

.salaryEmp{
  width: 20%;
  font-weight: bold;
}

.deleteEmp{
  background: #f59e9e;
  margin: 0 2px;
  cursor: pointer;
}

.addBonusEmp{
  background: gold;
  margin: 0 2px;
  cursor: pointer;
}
.deleteBonusEmp{
  opacity: 0.7;
  margin: 0 2px;
  cursor: pointer;
}