.NewEmployeeWrap{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #05add9;
}

.NewEmployeeName{
  width: 30%;
  font-weight: bold;
}

.NewEmployeeSalary{
  width: 30%;
  font-weight: bold;
}

.NewEmployeeAddBtn{
  background: #74de60;
  margin: 0 2px;
  cursor: pointer;
}